/*body fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');

/*common css*/
html{font-size:15px;}
body{font-family:'Montserrat', sans-serif;font-size:1rem;background:#140001;color:#fff;}
h1, h2, h3, h4, h5, h6{font-family: 'Oswald', sans-serif;}

/*****layout css*****/
.main--wrapper, .box{display:inline-block;width:100%;}

/*header*/
.header--wrapper{height:143px;width:100%;background:url(../images/header-bg.png) repeat-x 0 0;}
.header--top{height:46px;padding:12px 0;}
.header--top-left{float:left;}
.header--top-right{float:right;}
.header--list{list-style: none;}
.header--list-item{float:left;padding:0 15px;border-right:1px solid #f1a700;border-left:1px solid #fbd25e;}
.header--link{font-size:.9333rem;color:#694900;transition:all ease .3s;}
.header--link:hover{color:#fff;text-decoration:none;}



/*common overwrite css*/
.no--padd-left{padding-left:0;}
.no--padd-right{padding-right:0;}
.no--border{border:none;}
.no--border-left{border-left:none;}
.no--border-right{border-right:none;}
